# Ignore Python virtual environment directories
venv/

# Ignore Python bytecode files
.env

# Ignore data files
data/

# Ignore craw_data
src/craw_data.py

# Ignore Python cache files
__pycache__/ 